.carousel-caption > .text {
    margin-top: 20px;
  }
  .carousel-caption h1 {
    color: var(--primeDarkColor);
    font-size: 60px;
    font-weight: bold;
  }
  .carousel-caption .text p {
    color:var(--primeDarkColor);
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 400;
  }
  .carousel-caption {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    left: 0;
    right: 0;
    top: 50px;
  }
  .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 295px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #1e7fc4;
    opacity: 1;
    z-index: 99;
  }
  
  .carousel-control-next {
    right: 15px;
    left:initial
  }
  .carousel-control-prev {
    right: 80px;
    left:initial
  }
  
  .carousel-control-next-icon, 
  .carousel-control-prev-icon {
    width: 16px;
    height: 16px;
  }
  .img__inner {
    position: absolute;
    object-fit: fill;
    bottom: 0;
    z-index: -1;
    height: auto;
    max-width: 370px;
  }
  
  .slide-1 {
    right: -5px;
    bottom: initial;
    top:initial !important
  }
  .slide-2 {
    right: 0%;
  }
  
@media (max-width: 1200px)  {
    .carousel-control-prev {
      
        right: 85px;
    }
    .carousel-control-next {
        right: 18px;
    }
  }
  @media (max-width: 991.98px) and (min-width: 768px) {
  
  .carousel-caption h1 {
    font-size: 48px;
  }
  .carousel-control-prev ,
  .carousel-control-next {
    top: 265px;
  }
  .carousel-caption {
    top: 50px;
  }
  }
  
@media (min-width: 768px) {
    .carousel-item > img {
      height: 400px;
      object-fit: fill;
    }
    .img__inner {
      top:-50px;
    }
 
  }
  @media (max-width: 767.98px) {
    .carousel-item > img {
      height: 400px;
      object-fit: fill;
    }
    .carousel-caption h1 {
      font-size: 30px;
    } 
  
    .carousel-control-next, 
    .carousel-control-prev {
      top:170px;
    }
 
    .carousel-caption {
      top: 0;
    }
    
  }
  @media (max-width: 500px) {
    .img__inner {
      left: 0;
    }  
  }