<section class="scoreCalculator">
  <div class="container px-0">
    <div class="row  mx-0 text-center">
      <div class="col-12">
        <h2>How to Calculate GMAT?</h2>
        <p>Total GMAT scores range from 200 to 800.Verbal and Quantitative scores range from 0 to 60</p>
        <p>This GMAT Score Calculatore will help you calculate your Total GMAT Score based on Quant Score and Verbal
          Score. </p>
      </div>
      <div class="col-12 px-0 p20">
        <div class="button">
          <a href="#" [routerLink]="['/gmat-score']" class="btn btn-primary btn-lg">Calculate GMAT Score</a>
        </div>
      </div>
    </div>
  </div>
</section>
