<div class="progress">
  <div class="progress-bar target " [style.width]="FinaltargetScore + '%'" role="progressbar"></div>
  <div class="progress-bar current"[style.width]="FinalCurrentScore + '%'"  role="progressbar"></div> 
  <div *ngIf="tooltip" data-rel="tootltip" class="currentTip" [style.right]="100-FinalCurrentScore + '%'">
    {{currentScore  }}
  </div>
  <div *ngIf="tooltip" [ngClass]="[bottomTip ? 'bottom' : '']" data-rel="tootltip"  [style.right]="100-FinaltargetScore + '%'" class="targetTip">
    {{targetScore}}
  </div> 
</div>
