.progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-size: .75rem;
  line-height: 1rem;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: .25rem;
  margin: 40px 0px 15px;
  position: relative;
  height: 16px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  overflow: visible
}

.progress.bottom {
  margin: 45px 0px 35px;
}

.progress-bar {
  width: 0;
  position: absolute;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  height: 16px
}

.progress-bar.target {
  background-color: #ffe28a;
  z-index: 9;
}

.progress-bar.current {
  z-index: 99;
  background-color: #0fa2eb;
}

[data-rel="tootltip"] .marker {
  position: absolute;
  color: var(--grey);
  top: -35px;
  margin-left: -14px;
  min-width: 25px;
}

[data-rel="tootltip"].bottom .marker {
  bottom: -40px !important;
  top: unset
}

.difference {
  top: 2px;
  z-index: 999;
  position: absolute;
}

.message {
  padding: 10px 0px 0px;
  font-family: var(--latoLight)
}

.message p {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  color: #a6a6a6;
}

.marker_f {
  height: 12px;
}

.currentTip .marker_f {
  background-image: url("/assets/images/current.png");
  background-position: 10px;
  background-repeat: no-repeat
}

.targetTip .marker_f {
  background-image: url("/assets/images/target.png");
  background-position: 10px;
  background-repeat: no-repeat;
}

[data-rel="tootltip"].bottom .marker_f {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);

}

[data-rel="tootltip"].bottom .marker {
  display: flex;
  flex-direction: column-reverse;
}

[data-rel="tootltip"].bottom .marker p {
  margin: 5px 0 0 0
}

.marker p {
  margin: 0 0 5px;
  font-size: 14px;
  color: #bfbfbf;

}

