/* You can add global styles to this file, and also import other style files */
@import url("assets/css/style.css");
:root {
    --primeColor: #404040;
    --primeDarkColor: #00aeef;
    --carrot: #ee6142;
    --blue      : #0e1833;
    --grey     : #333333;
    --montserrat: 'Montserrat', sans-serif;
    --sans: 'Montserrat', sans-serif;
    --sohoRegular: 'SohoPro-Regular';
    --white      : #fff;
    --btnBg:#0098db;
    --gothamLight: 'Gotham-Light';
    --gothamBook:'Gotham-Book';
    --latoLight: 'latolight';
  }

body,
html {
  font-size: 14px;
  font-family:  var(--gothamLight);
  font-weight: 400;
  color: #666666;
  line-height: 2rem;
}
b{
  color:#404040
}
.btn-primary {
  color: #fff;
  background-color: var(--btnBg);
  border-color: var(--btnBg);
}
.has-success {
  border-color: #5cb85c !important;
}
.has-danger {
  border-color: #d9534f !important;
}
.has-warning  {
  border-color: #f0ad4e !important;
}
*:focus {
  outline: none;  
 }
 input:focus {
  border: 1px solid #cccccc;
 }
 textarea, input { outline: none;     border: 1px solid #cccccc;}
u {
  text-decoration-skip-ink: none;
}
.bg--prime {
  background-color: var(--primeDarkColor);
}
.bg--carrot {
  background-color: var(--carrot) !important;
}
.f-family-montserrat {
  font-family: var(--montserrat);
}
.soho-r{
    font-family: var(--sohoRegular);
  }
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-14 {
  font-size: 14px;
}
.text-prime {
    color: var(--primeColor);
  }
.p20{
  padding:20px
}
.mt20{
  margin-top: 20px
}